<!DOCTYPE html>
<html>
  <head>
    <title>EUROTUNNEL Supervision</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <div class="logo">
      <%= image_tag('eurotunnel.logo.svg') %>
    </div>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class: "sign_out" do %>
        <i class="fa fa-sign-out"></i>
      <% end %>
    <% end %>

    <%#= render 'shared/navbar' %>
    <%#= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
